# Python
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Sensitive environment variables & credentials
.env
.env.*
!.env.example
credentials/
*.pem
*.key

# Data & Caches
*.csv
bq_backup/
dlq_bq_failed/
dlq_bq_success/
.ivy2/
.claude/
.ipynb_checkpoints/